
    <% if current_user %>
<nav class='main'>
  <ul>
    <li><%= render 'games_nav' %></li>
    <li><span class='title'>SNAKE</span></li>
    <li><%= link_to 'Play Snake', snakes_index_path %></li>
    <li><%= link_to 'Scoreboard', snakes_scores_path %></li>
    
  </ul>
</nav>
<% end %>
<div class="clearfix"></div>