<canvas id="canvas" width="960" height="450"></canvas>
<h3 class='snake score'>Current score: <span id='current_score'>0</span></h3>
<h3 class='snake score'>Your highest score: <span id='high_score'><%= current_user.snake_score.score if current_user %></span></h3>