<div class="game">
  <h3>Tic Tac Toe</h3>
  <p>Play Tic Tac Toe against your friends or the computer.   <%= link_to 'Play now', games_path %>
</p>
</div>  

<div class="game">
  <h3>Snake</h3>
    <p>See if you can beat the highest scores in this classic game of snake. <%= link_to 'Play now', snakes_index_path %>
    </p>
</div>