
<div class='hero-unit'>
  <pre>
      1 U P      H I G H   S C O R E
 ______3_4_0-0._________5_0_0_0_0_______.--.___________
[%%%%%%%%%%[CJ]%%%%%%%%%%%%%%%%%%%%%%%%%[CJ]%%%%%%%%%%%]
/"\        A                                         /"\
===       /_\                              A         ===
\_/                        __             /_\        \_/
|%|            __  __  __ [%%] __  __  __            |%|
/"\        __ [##][##][##][%%][@@][@@][@@] __        /"\
===       [##][##][##][__][__][__][@@][@@][@@]       ===
\_/    __ [##][##][__][__][__][__][__][@@][@@] __    \_/
|%|   [##][##][##][__][__][__][__][__][@@][@@][@@]   |%|
|%|   [##][##][##][__][__][__][__][__][@@][@@][@@]   |%|
/"\   [##][##][##][__][__][__][__][__][@@][@@][@@]   /"\
===   [%%]        [%%]    [%%]    [%%]        [%%]   ===
\_/                       [%%]                       \_/
|%|                       [%%]                       |%|
|%|                __     [%%]                       |%|
/"\               [%%] __ [%%]                       /"\
===               [%%][%%][%%]                       ===
\_/                   [%%]                           \_/
|%|                                O                 |%|
|%|                                                  |%|
/"\                                                  /"\
===                                                  ===
\_/                                                  \_/
|%|                                                  |%|
/"\                      ______                      /"\
===                     (______)                     ===
\_/                                                  \_/
|%| {=}{=}                                           |%|
  </pre>

  <p>The Game Portal lets you play games online with your friends.</p>

  <p><%= link_to "Sign Up", signup_path %> to get started.</p>
</div>