
<div class='hero-unit'>
  <h1>Hello</h1>
  <p>Game portal lets you play games, such as Tic Tac Toe online with your friends. <br> <%= link_to "Sign Up", signup_path %> to get started.</p>
  <a href='/signup' class="btn btn-primary btn-large">Sign up</a>
</div>