<div class='game_list'>
  <h1>Current Games</h1>
  <%= render(@mygames) if @mygames %>
</div>

<div class='game_list'>
  <h1>Available games</h1>
  <%= render(@games_to_join) if @games_to_join %>
</div>

<div class='game_list'>
  <h1>Completed Games</h1>
  <%= render(@completed) if @completed %>
</div>