/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
 @import url(http://fonts.googleapis.com/css?family=Cabin); // 'Cabin'
 @import url(http://fonts.googleapis.com/css?family=Bree+Serif); // 'Bree Serif'
 @import url(http://fonts.googleapis.com/css?family=Share:700); // "Share"


 body {
  font-family: 'Cabin';
  font-size: 16px;
  color: #000;
  background-color: #eee;
  line-height: 1.2;
 }

 pre {
    font-family: 'Press Start 2P', cursive;
 }

 .logo {
  padding: 10px;
  float: left;
  margin: 40px 0;
 }

 .logo a {
  color: #000;
 }

 .hero-unit {
  // width: 500px;
  margin: 200px auto;
  text-align: center;
 }

 .hero-unit h1 {
  font-size: 800%;
  margin: 0;
  line-height: 1;
 }

 h1, h2, h3, h4, h5 {
  font-family: 'Share';
 }

 h1 {
  font-size: 300%;
 }

 h2 {
  font-size: 200%;
 }

 h3 {
  font-size: 150%;
 }

a {
  text-decoration:none;
  color: #699C9E;
}

a:hover {
  color: #924;
}

 nav.main {
  border-top: 2px solid #777;
  border-bottom: 2px solid #777;
  padding: 10px;
  margin-bottom: 30px;
 }

 nav li {
  display: inline;
  margin: 0 5px;
  padding: 3px;
 }

 .game_links{
  float:left;
 }

  .container {
  width: 960px;
  margin: 0 auto;
}

.grid_item {
  width: 150px;
  height: 150px;
  float:left;
  font-size: 70px;
  border: 2px dashed #000;
  vertical-align: middle;
  line-height: 150px;
  margin: 0px;
  text-align: center;
  font-family: 'Press Start 2P';
}

.grid_item.active {
  color: #924;
}


#new_move {
  width: 100%;
  height: 100%
}

.grid_item input[type='submit']:hover {
  color: #000;
}

.board {
  width: 500px;
  margin: auto;
} 

.game_list {
  float:left;
  margin: 20px;
  width: 280px;
}

.game_list h3 {
text-align: center;
}

.user {
float: right;
height: 21px;
padding: 10px;
margin: 50px;
}

p {
  margin: 10px 0;
}

input {
  background-color: #eee;
  border: 0;
  padding: 10px;
  font-size: 16px;
  border-bottom: 2px solid #000;
  color: #000;
  font-family: 'Cabin';
  outline: none;
}

input[type='submit'] {
  padding: 10px;
  background-color: #000;
  border: 0;
  font-size: 16px;
  color: #eee;
  font-family: 'Share';

}

#new_game {
  margin: 20px;
}

.grid_item input[type='submit'] {
  background-color: transparent;
  display:inline-block;
  cursor:pointer;
  color:#eee;
  font-family: 'Press Start 2P', cursive;
  font-size:70px;
  text-decoration:none;
  width: 150px;
  height: 150px;
  border: 0;
}

.game_status {
  text-align: center;
}

.clearfix {
  clear: both;
}

.legend {
  clear: both;
  text-align: center;
  padding: 20px;
}

.grid_item.grid_num_0 {
border-top: 0;
border-left: 0;
}

.grid_item.grid_num_1 {
border-top: 0;
}

.grid_item.grid_num_2 {
border-top: 0;
border-right: 0;
}

.grid_item.grid_num_3 {
border-left: 0;
}

.grid_item.grid_num_5 {
border-right: 0;
}

.grid_item.grid_num_6 {
border-bottom: 0;
border-left: 0;
}

.grid_item.grid_num_7 {
border-bottom: 0;
}

.grid_item.grid_num_8 {
border-bottom: 0;
border-right: 0;
}

td {
  width: 300px;
  padding: 3px;
  text-align: center;
}

th {
  border-bottom: 2px solid #000;
}

tr.highlight {
  color: #000;
  // background-color: #8CAEBB;
}

.scores {
  text-align: center;
  margin: 40px 0;
}

.first, .last {
  display: none;
}

.pagination {
  text-align: center;
}

.game {
  background-color: #fff;
  box-shadow: 1px 1px 7px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  height: 120px;
  box-sizing: border-box;
}

.win {
  color: rgb(99, 153, 99);
}

.lose {
  color: rgb(148, 51, 51);
}

.draw {
  color: rgb(185, 156, 0);
}

.snake.score {
float: left;
width: 50%;
}

ul {
  margin: 0;
}