/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  font-family: Verdana;
  font-size: 16px;
 }

 .logo {
  padding: 10px
 }

 h1 {
  font-size: 150%;
 }

a {
  text-decoration: none;
  color: #924;
}

 nav {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
 }

 nav li {
  display: inline;
 }

 .game_links{
  float:left;
 }

#main {
  width: 960px;
  margin: 0 auto;
}

.grid_item {
  width: 150px;
  height: 150px;
  float:left;
  font-size: 28px;
  border: 1px solid #000;
  vertical-align: middle;
  line-height: 150px;
  text-align: center;
}


#new_move {
  width: 100%;
  height: 100%
}

.grid_button:hover {
  color: #000
}

.board {
  width: 500px;
  margin: auto;
} 

.game_list {
  float:left;
  margin: 20px;
}

.game_list p {
  border-bottom: 2px dotted #333;
  margin: 10px 0;
  padding: 10px 0;
}

.user {
  position: absolute;
  top: 0;
  right: 0;
}

p {
  margin: 10px 0;
}

input {
  padding: 10px;
  font-size: 16px;
}

#new_game input[type='submit'] {
  padding: 10px;
  background-color: #ddd;
  border: 0;
  font-size: 16px;
}

#new_game {
  margin: 20px;
}

.grid_button {
  background-color:#fff;
  display:inline-block;
  cursor:pointer;
  color:#ddd;
  font-family:arial;
  font-size:28px;
  text-decoration:none;
  width: 100%;
  height: 100%;
  border: 0;
}

.game_status {
  height: 40px;
  padding: 20px;
  text-align: center;
  font-size: 150%;
}

.legend {
  clear: both;
}

