      <span class="dropdown">
        <a href='#' role="button" data-toggle="dropdown">Games<b class="caret"></b></a>
        <ul class='dropdown-menu'>
          <li><%= link_to 'Tic Tac Toe', games_path %></li>
          <li><%= link_to 'Snake', snakes_index_path %></li>
        </ul>
      </span>
